@font-face {
    font-family: 'fontNaruto';
    src: url(https://oussman25.github.io/naruto/fonts/njnaruto.ttf);
}

@font-face {
    font-family: 'fontNaruto';
    src: url(https://oussman25.github.io/naruto/fonts/njnaruto.eot);
}

body{
    cursor: url('./naruto/img-naruto/kunai.png'), auto;
    width: 100vw;
    height: 100vh;
    font-family: 'fontNaruto';
    margin: 0;
}
nav{
    background: #F36A3E;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Page{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a.teams , a.home {
    text-decoration: none;
    color: #F36A3E;
    background-color: #D9D9D9;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

a.teams{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

a.home{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

a.teams:hover{
    background-color: #F36A3E;
    color: #D9D9D9;
}

a.home:hover{
    background-color: #F36A3E;
    color: #D9D9D9;
}

#imgcharacterLinked {
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: #F36A3E solid 2px;
}

#characterLinked {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.divLinksCharacters{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formSelectCharacter button{
    border: none;
}

.CharacterName{
    text-align: center;
}


.character{
    display: flex;
}

select{
    border: none;
    background: #D9D9D9;
    text-align: center;
    font-size: 16px;
}

#submitButton{
    font-family: 'fontNaruto' ;
}

.kunai {
    display: none;
}

.Extra {
    display: none;
}

@media screen and (min-width:1001px)  { 
    nav{
        font-size: 2em;
    }
    .characterName{
        font-size: 1.8em;
    }
    .formSelectCharacter button{
        width: 100px;
        height: 40px;
    }
    #selectCharacter{
        width: 400px;
        height: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

}

@media screen and (min-width:501px) and (max-width:1000px){
    nav{
        font-size: 2em;
    }
    .CharacterName{
        font-size: 1.8em;
    }
    .formSelectCharacter button{
        width: 50px;
        height: 40px;
    }
    #selectCharacter{
        width: 345px;
        height: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .sasukeBG, .narutoBG{
        position: absolute;
        z-index: -1;
        height: 400px;
        opacity: 50%;
    }
    .narutoBG{
        right: 0;
        bottom: 0;  
    }
    .sasukeBG{
        left: 0;
        bottom: 0;
    }

}

@media screen and (max-width:500px){
    nav{
        font-size: 1.5em;
    }
    .characterName{
        font-size: 1.5em;
    }
    .formSelectCharacter button{
        width: 50px;
        height: 20px;
    }
    #selectCharacter{
        width: 200px;
        height: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

}